.container {
  background-color: rgb(185, 185, 185);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funcBar {
  top: 5px;
  right: 5px;
  flex-direction: row;
  display: flex;
  position: fixed;
  z-index: 500;
}
