.backdrop {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  pointer-events: none;
  background-color: rgba(0, 0, 0);
  opacity: 0.4;
  transition: opacity 500ms;
}

.backdrop.on {
  opacity: 0;
}
